/* Estilos del header */
.header {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  border-bottom: 2px solid #ddd;
}

.header .logo h1 {
  font-size: 1.8rem;
  margin: 0;
}

.header .logo p {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
}
.user-avatar {
  display: flex;
  align-items: center;
}
